html, body {
    height: 100%;
    background-color: #70CF51;
    font-family: 'Press Start 2P', cursive;
    overflow:hidden;
    margin:0px; padding:0px;
    background-image: url('../images/background.jpg');
    background-size: cover;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

/* Fade in animation */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50%   { opacity: 1; }
    100% { opacity: 0; }
}


@font-face {
    font-family: Horror;
    src: url(../fonts/DoubleFeature20.ttf);
}

.red {
    color: #af111c;
}

/* Start Screen && GameOver Screen */
splash {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%; height: 75%;
    transform: translate(-50%, -50%);
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

splash title {
    color: #af111c;
    font-family: Horror;
    font-size: 750%;
    text-align: center;
}

splash menu {
    position : absolute;
    width: 50%; height: 50%;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
}

splash option {
    color: #fff;
    font-size: 300%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* End score */
splash option.endscore {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

splash option:nth-child(2) {
    top: 45%;
}

splash .start, splash return {
    color: #ffffff;
    font-size: 300%;
    font-weight: bold;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

splash .start:hover, splash .return:hover {
    cursor: pointer;
}

splash highscores {
    color: #ffffff;
    font-size: 4em;
    font-weight: bold;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

splash highscores:hover {
    cursor: pointer;
}


/* Player */
player {
    background-size: contain;
    width: 10em; height: 10em;
    position: fixed;
    bottom: 0;
}

player.shoot {
    width: 10.5em; height: 10.5em;
    bottom: -1%;
    background-size: contain;
}

player.dead {
    background-size: cover;
}

/* Ground */
ground {
    position: fixed;
    bottom: 0;
    height: 3em;
    width: 100%;
    border-top: 3px solid #000000;
    background-image: url(../images/ground.jpg);
    background-repeat: repeat-x;
}

/* Bullet */
bullet {
    width:1em; height:1em;
    background-image: url('../images/hero/weapon/bullet.png');
    background-size: contain;
}

/* Wave intro */
waveintro {
    text-align: center;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
    width: 100%;
    height: 100%;
    position: fixed;
    animation: fadeInOut 3s;
    color: #af111c;
    font-family : Horror;
    font-size: 8em;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Wave Complete screen */
/* The complete wave interface */
complete {
    text-align: center;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
    width: 100%;
    height: 100%;
    position: fixed;
    animation: fadein 1s;
}

complete title {
    color: #af111c;
    font-family : Horror;
    font-size: 8em;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

complete upgradebutton {
    color: #f39c12;
    font-weight: bold;
    position: fixed;
    top: 60%;
    left: 50%;
    font-size: 3em;
    transform: translate(-50%, -50%);
}

complete upgradebutton:hover {
    cursor: pointer;
}

complete nextbutton {
    color: #fff;
    font-weight: bold;
    position: fixed;
    top: 70%;
    left: 50%;
    font-size: 3em;
    transform: translate(-50%, -50%);
}

complete nextbutton:hover {
    cursor: pointer;
}

/* Zombie */
zombie {
    background-size: contain;
    width: 10em; height: 10em;
    bottom: 1.5em;
}

zombie.attack {
    background-size: cover;
}

zombie.dead {
    width: 14em;
    background-size: cover;
}